*.pyc
fit_output*
output*
.idea/
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes
bin/latex_output/*.aux
bin/latex_output/*.log
bin/latex_output/*.nav
bin/latex_output/*.out
bin/latex_output/*.snm
bin/latex_output/*.toc
bin/latex_output/*.pdf
bin/pull_plots
bin/plots
__init__.py
